# Ignore .env files
.env

# Ignore other files or directories (if needed)
__pycache__/
db.sqlite3
media/

# Ignore virtual environment
venv/

# Ignore database backups
backup.json

# Ignore generated static files
staticfiles/
