{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{% include 'logo.html' %}

{% block content %}
<style>

    .login-link {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        width: 250px;
        margin-top: 30px;

    }
</style>
<h2>Password Reset Sent</h2>
    <p>We've emailed you instructions for resetting your password. Please check your email.</p>
    <a href="{% url 'custom-login' %}" class="forgot-password-link">Remembered your password? Login</a>
{% endblock %}