{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% include 'logo.html' %}

{% block title %}
    <h1>Change Password</h1>
{% endblock %}
<style>

    .login-link {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        width: 250px;
        margin-top: 30px;

    }
</style>
{% block content %}
    <h2>Enter your old and new passwords</h2>
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
        {{ form.old_password }}
        {% for error in form.old_password.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
        {{ form.new_password1 }}
        {% for error in form.new_password1.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
        {{ form.new_password2 }}
        {% for error in form.new_password2.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
        <button type="submit">Change Password</button>
    </form>

    {% include 'bottom_bar.html' with categories=categories %}
{% endblock %}