{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% include 'logo.html' %}

{% block title %}
    <h1>Password Change Complete</h1>
{% endblock %}
<style>

    .login-link {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        width: 250px;
        margin-top: 30px;

    }
</style>
{% block content %}
    <p>Your password has been successfully changed. You can now <a href="{% url 'custom-login' %}">login</a> with your new password.</p>
    {% include 'bottom_bar.html' with categories=categories %}
{% endblock %}