{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{% include 'logo.html' %}

{% block title %}
    <h1>Password Reset Complete</h1>
{% endblock %}
<style>

    .login-link {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        width: 250px;
        margin-top: 30px;

    }
</style>
{% block content %}
    <p>Your password has been successfully reset. You can now <a href="{% url 'custom-login' %}">login</a> with your new password.</p>
{% endblock %}