{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'logo.html' %}
{% block content %}
<style>

    .login-link {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        width: 250px;
        margin-top: 30px;

    }
</style>
<h2>Reset Your Password</h2>
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <label for="{{ form.email.id_for_label }}">Provide our registered email below to receive password reset instructions:</label>
        {{ form.email }}
        {% for error in form.email.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
        <button type="submit">Reset Password</button>
    </form>
    <a href="{% url 'custom-login' %}" class="forgot-password-link">Remembered your password? Login</a>
{% endblock %}