{% if user.is_authenticated %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <style>
        .bottom-bar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px; /* Adjust height as needed */
            color: #FFFFFF;
            font-size: 24px;
            background-color: #f5f5e8;
        }

        .bottom-bar a {
            text-decoration: none;
            color: black;
            background-color: #f5f5e8;
        }

        .logout-form {
            display: none; /* Hide the form initially */
        }
    </style>

    <div class="bottom-bar">
        <a href="{% url 'home' %}">
            <i class="fas fa-home"></i>
        </a>
        <a href="{% url 'profile' %}">
            <i class="fas fa-user"></i>
        </a>
        <a href="{% url 'select_category' %}">
            <i class="fas fa-table"></i>
        </a>
        <!-- Logout Form -->
        <form class="logout-form" method="post" action="{% url 'custom-logout' %}">
            {% csrf_token %}
            <button type="submit" style="background-color: transparent; border: none; cursor: pointer;">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
        <a href="#" onclick="confirmLogout()">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

    <script>
        function confirmLogout() {
            var confirmation = confirm("Are you sure you want to log out?");
            if (confirmation) {
                // If the user clicks 'OK' in the confirmation dialog, submit the logout form
                document.querySelector('.logout-form').submit();
            } else {
                // If the user clicks 'Cancel', do nothing
                // You can add additional handling here if needed
            }
        }
    </script>
{% endif %}
